<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="debug" xsi:type="Console"/>
    <target name="logfile" xsi:type="File"
            fileName="${machinename}.${shortdate}.log"
            layout="${level:uppercase=true}|${date:format=HH\:mm\:ss.fff zzz}|${logger}|${message}|${exception:format=ToString}"
            deleteOldFileOnStartup="true"
            />
  </targets>
  
  <rules>
    <logger name="*" writeTo="debug" minlevel="info"/>
    <logger name="*" writeTo="logfile" minlevel="debug"/>
  </rules>
</nlog>